* {
  box-sizing: border-box;
}

html {
	background-color: #777777;
}


body {
	text-align: center;
	color: gray;
	font-family: arial, Helvetica, sans-serif;
	font-size: 18px;
}

header {

	background: #ebebeb;
	height: 100px;
	padding: 35px;
	margin: 10px;
}

nav {
	background: #ebebeb;
	height: 100px;
	padding: 35px;
	margin: 10px;
}

#left {
	background: #ebebeb;
	width: 55%;
	float: left;
	margin-left: 10px;
	padding: 35px;
	height: 330px;
	margin-bottom: 15px;
	margin-top: 15px;

}

#article {
	background-color: #777777;
	overflow: auto;
	padding: 20px;
	color: white;
	margin-top: 50px;
	width: 100%;
}

h1 {
	background-color: #ebebeb;
	padding: 15px;
	color: gray;
}

p {
	background-color: #ebebeb;
	padding: 15px;
	color: gray;
}

#aside {
	float: right;
	width: 41%;
	margin-right: 10px;
	padding: 35px;
	height: 330px;
	overflow: auto;
	background-color: #ebebeb;
	margin-bottom: 15px;
	margin-top: 15px;
	border: 5px solid #ebebeb;
}

footer {
	background-color: #ebebeb;
	padding: 35px;
	margin: 10px;
	clear: both;
}